{% extends 'restaurant/base.html' %}

{% block content %}
{% block title %}Menu{% endblock %}

    {% if menu %}
        <div class="menu-items">
            {% for item in menu %}
                <div class="menu-item">
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.description }}</p>
                    <p class="price">${{ item.price }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No menu items available at the moment.</p>
    {% endif %}
{% endblock %}